*{
    margin: 0;
}
.grid{
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 40px 100px;
}
#filho1{
    background-color: red;
}
#filho2{
    background-color: blue;
}
#filho3{
    background-color: yellow;
}
#filho4{
    background-color: pink;
}